.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

 .principal{
    margin-left: 9px;
    border: 2px black solid;
    
} 
.deuxieme{
   
    border-top: 1px solid #000;
    
}
.charge{
    display: flex;
    margin-top: 160px;
}
.bouton1{
    margin-top: 30px;
}
.bouton{
    display: flex;
    gap: 10px;
}
/* .trois{
    margin-left: 160px;
} */
.rechercher{
    width: 340px;
}
.chargee{
    display: flex;
    margin-top: 160px;
}
.nav .active{
    background-color: rgb(20, 123, 179);
}
@media(max-width: 576px) {
    .nav{
        display: ;
        justify-content: center;
        align-items: center;
    }
  }
